<h1>Activity Index</h1>




<div id="activity-index">
    <h4></h4>
        <ul>
            <li data-page="1"><a href="#">Day 1</a></li>
            <ul>
                <li class="table" data-page="2"><span></span>Table Activity</li>
                <li class="gallery" data-page="3"><span></span>Circles-Gallery</li>
                <li class="gallery" data-page="4"><span></span>Gallery</li>
                <li class="khanacademy" data-page="5"><span></span>Khan Academy Post 1</li>
                <li class="khanacademy" data-page="5"><span></span>Khan Academy Post 2</li>


            </ul>

            <li data-page="6"><a href="#">Day 2</a></li>
            <ul>
                <li class="multQues" data-page="7"><span></span>Homework Problems</li>
                <li class="gallery" data-page="7"><span></span>Function Gallery</li>
                <li class="multQues" data-page="8"><span></span>Nested Circle Activity</li>
                <li class="gallery" data-page="9"><span></span>Function Gallery</li>
            </ul>

            <li data-page="10"><a href="#">Day 3</a></li>
            <ul>
                <li class="gallery" data-page="10"><span></span>Function Gallery</li>
                <li class="multQues" data-page="11"><span></span>Model of Functions</li>
            </ul>

            <li data-page="13"><a href="#">Day 4</a></li>
            <ul>
                <li class="gallery" data-page="14"><span></span>Function II Gallery</li>
                <li class="khanacademy" data-page="16"><span></span>Khan Academy Post 1</li>
                <li class="khanacademy" data-page="16"><span></span>Khan Academy Post 2</li>
            </ul>

            <li data-page="16"><a href="#">Day 5</a></li>
            <ul>
                <li class="khanacademy" data-page="18"><span></span>Khan Academy Post 1</li>
                <li class="khanacademy" data-page="18"><span></span>Khan Academy Post 2</li>
            </ul>
        </ul>
</div>

