{% load static %}

<h1>General Chat</h1>

<div class="prompt-card prompt-gm">
     <a class="prompt-close-card"></a>
     <!--<span id="prompt-p"></span>-->
     <!--<img id="badge-default" src="{% static 'pics/default.png' %}" alt="">-->
     <img id="prompt-badge-img-gm" src="{% static 'pics/default.png' %}" alt="" >
     <p id="prompt-p-gm" ></p>
   </div>

<div id="award-holder"   style="margin-left:0px;">
     <span></span>
     <div id = "badge-description">Testing</div>
</div>
<ul id="activity-feed" class="feed">
</ul>



<div id="write-message" class="message-input">
     <input type="text" name="msg-text" id="msg-text" placeholder="Type a message to your class here">
     <input type="hidden" name="username" value={{ user.get_username }}>
     <a href="" id="msg-send-btn"></a>
</div>
