
{% extends 'app/base.html'%}
{% block title %} DigitalDiscussion {% endblock %}

{% block body %}
    <div><h1>Digital Discussion Activities</h1></div>

        <div>
    <!--https://stackoverflow.com/questions/9388064/django-template-turn-array-into-html-table-->
        {% if list %}
        <table border="1">
            <tr>
              <!--<td>Image Link</td>-->
              <td>Posted By</td>
              <td>Response Type</td>
              <td>Response</td>
            </tr>
          {% for item in list %}
            <tr>
              <!--<td>{{item.ka_image}}</td>-->
              <td>{{item.posted_by}}</td>
              <td>{{item.response_type}}</td>
              <td>{{item.response}}</td>
            </tr>
          {% endfor %}
        </table>

        {% else %}
            <p>No students registered in this class.</p>
        {% endif %}

    </div>
{% endblock %}
