{% load static %}
<h1>  </h1>
<h4> </h4>
<div>

    <div id="nested-circle">
        <p> Look at the nested circle image, and fill in the textboxes. </p>
        <img src="{% static 'pics/nestedcircle.jpg' %}" height="300" width="300" style="margin-left:150px">

        <br/>
        <label>Label X: </label>
        <textarea class="user-answer-input" rows="2" cols="50" name="nested-circle-x" required> </textarea>

        <label>Label Y: </label>
        <textarea class="user-answer-input" rows="2" cols="50" name="nested-circle-y" required> </textarea>

        <label>Label Z: </label>
        <textarea class="user-answer-input" rows="2" cols="50" name="nested-circle-z" required> </textarea>


        <input id="nested-circle-submit" type="submit" value="Submit" class="user-input-submit-button">
    </div>

    <div id = day2hw></div>
    <div id="day2group1">
        <img src="{% static 'pics/april2019/group1.png' %}" height="200" width="500" style="margin-left:80px;margin-top:50px;">
    </div>

     <div id="day2group2">
        <img src="{% static 'pics/april2019/group2.png' %}" height="100" width="200" style="margin-left:150px;margin-top:50px;">
    </div>

    <div id="day2group3">
        <img src="{% static 'pics/april2019/group3.png' %}" height="200" width="500" style="margin-left:80px;margin-top:50px;">
    </div>


</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="modal-close">&times;</span>
      <h2 style="text-align: center"></h2>
    </div>

  </div>

</div>


