{% load static %}
<h1>  </h1>
<h4> </h4>
<div>

    <div id="nested-circle">
        <p> Fill in the text boxes with the words Proportion, Function, and Linear to show how these terms relate to each other. </p>
        <img src="{% static 'pics/april2019/nested-circle.png' %}" height="300" width="300" style="margin-left:150px">

        <br/>
        <label>Label X: </label>
        <textarea class="user-answer-input" rows="2" cols="50" name="nested-circle-x" required> </textarea>

        <label>Label Y: </label>
        <textarea class="user-answer-input" rows="2" cols="50" name="nested-circle-y" required> </textarea>

        <label>Label Z: </label>
        <textarea class="user-answer-input" rows="2" cols="50" name="nested-circle-z" required> </textarea>


        <input id="nested-circle-submit" type="submit" value="Submit" class="user-input-submit-button">
    </div>

    <div id = day2hw></div>
    <div id="homework" >
        <p>Homework Problem</p>
        <img src="{% static 'pics/april2019/homework.png' %}" height="200" width="500" style="margin-left:41px;">
    </div>
    <div id="day2group1">
         <p>New Problem</p>
        <img src="{% static 'pics/april2019/group1.png' %}" height="200" width="500" style="margin-left:80px;margin-top:50px;">
    </div>
     <div id="day2group2">
         <p>New Problem</p>
        <img src="{% static 'pics/april2019/group2.png' %}" height="100" width="200" style="margin-left:150px;">
    </div>
    <div id="day2group3">
        <p>New Problem</p>
        <img src="{% static 'pics/april2019/group3.png' %}" height="200" width="500" style="margin-left:80px;">
    </div>
    <div id="day2group4">
        <p>New Problem</p>
        <img src="{% static 'pics/april2019/group4.png' %}" height="200" width="500" style="margin-left:80px;">
    </div>
    <div id="day2group5">
        <p>New Problem</p>
        <img src="{% static 'pics/april2019/group5.png' %}" height="200" width="500" style="margin-left:80px;">
    </div>
    <div id="day2group6">
        <p>New Problem</p>
        <img src="{% static 'pics/april2019/group6.png' %}" height="200" width="500" style="margin-left:80px;">
    </div>
     <div id="day2group7">
         <p>New Problem</p>
         <img src="{% static 'pics/april2019/group7.png' %}" height="100" width="200" style="margin-left:150px;">
    </div>
     <div id="day2group8">
          <p>New Problem</p>
          <img src="{% static 'pics/april2019/group8.png' %}" height="100" width="200" style="margin-left:150px;">
    </div>
     <div id="day2group9">
          <p>New Problem</p>
         <img src="{% static 'pics/april2019/group9.png' %}" height="100" width="200" style="margin-left:150px;">
    </div>
      <div id="day2group10">
          <p>New Problem</p>
        <img src="{% static 'pics/april2019/group10.png' %}" height="200" width="500" style="margin-left:80px;">
    </div>

    <div id = day4graph>
        <p>
            <ol type="A">
              <li>Speed of a vehicle is a function of distance traveled</li>
              <li>The pressure on a submarine is a function of depth</li>
              <li>The stopping distance of your car is a function of your speed</li>
              <li>Arm length is a function of height</li>
              <li>The length of a shadow is a function of its height and the time of day</li>
              <li>Population is a function of time</li>
              <li>The time to cook a turkey is a function of its weight</li>
              <li>Temperature of a cup of hot chocolate is a function of time</li>
              <li>School grades are a function of hours of study</li>
            </ol>
        </p>
    </div>


    <!--Our Function so far-->
    <div id="model-of-functions">
        <p> Add what you know about functions here: </p>
        <br/>
        <label>When is an equation a function?</label>
        <textarea class="user-answer-input" rows="4" cols="50" name="mof-input1" required> </textarea>

        <label>When is it not a function? </label>
        <textarea class="user-answer-input" rows="4" cols="50" name="mof-input2" required> </textarea>

        <input id="model-of-functions-submit" type="submit" value="Submit" class="user-input-submit-button">
    </div>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="modal-close">&times;</span>
      <h2 style="text-align: center"></h2>
    </div>

  </div>

</div>


