
{% extends 'app/base.html'%}

<h1> hello</h1>>

{% block body%}
    <div><h1>Teacher Dashboard</h1></div>



{% endblock %}


<!-- default/ given teacher board


{% if user_activity %}
        <ul>
        {% for user in user_activity %}
            <li><a href="/studentID/{{ user.userID }}/">{{ user.userID }}</a></li>
            <p>Image Comments</p>
            <p>{{ user.imagecomment}}</p>
            loop through image comment and get all the comments-->
            {% for uic in user.imagecomment %}
                 <p>{{ uic.content }}</p>
            {% endfor %}
            <p>General Chat</p>
            <p>{{ user.generalmessage}}</p>
        {% endfor %}
        </ul>
    {% else %}
        <p>No students registered in this class.</p>
    {% endif %}


<div id="teacher-page">

    <span onclick=this.parentElement.parentElement.style.display='none' class="topright" >&times</span>
    <span class="teacher-card-close-button" >&times</span>

    <div class="verticalDivider">
        <div class="row-left">
            <div class="ka-projection">
                <h4 style="margin-right:270px;">Post 1</h4>
                <p class="ka-projection-number-display-1"></p>
                <div>
                    <a href="#" class="ka_item_display_button" id="post1-question-count">  </a>
                    <a href="#" class="ka_item_display_button" id="post1-answer-count">   </a>
                </div>

            </div>
        </div>

        <div class="row-right">
            <div class="ka-projection">
                 <h4  style="margin-right:270px;">Post 2</h4>
                <p class="ka-projection-number-display-2"></p>
                <div>
                    <a href="#" class="ka_item_display_button" id="post2-question-count" >   </a>
                    <a href="#" class="ka_item_display_button" id="post2-answer-count">   </a>
                </div>

            </div>
        </div>
    </div>

    TODO Code Refactor Time: Table with two rows could be an option
    <div class="gallery_middle" >
         <div class="gallery_projection">
            <div class="projection_glry_container">
                <p class="gallery-project-group-circle" id="group1-totalcomment">x</p>
                <p style="margin-left: 80px; width: 500px;" id="group1-user-name">xx, yy, zz, cc</p>
            </div>
            <div class="projection_glry_container">
                 <p class="gallery-project-group-circle" id="group2-totalcomment">x</p>
                <p style="margin-left: 80px; width: 500px;" id="group2-user-name">xx, yy, zz, cc</p>
            </div>
            <div class="projection_glry_container">
                <p class="gallery-project-group-circle" id="group3-totalcomment">x</p>
                <p style="margin-left: 80px; width: 500px;" id="group3-user-name">xx, yy, zz, cc</p>
            </div>
            <div class="projection_glry_container">
                <p class="gallery-project-group-circle" id="group4-totalcomment">x</p>
               <p style="margin-left: 80px; width: 500px;" id="group4-user-name">xx, yy, zz, cc</p>
            </div>
            <div class="projection_glry_container">
                <p class="gallery-project-group-circle" id="group5-totalcomment">x</p>
                 <p style="margin-left: 80px; width: 500px;" id="group5-user-name">xx, yy, zz, cc</p>
            </div>
            <div class="projection_glry_container">
                <p class="gallery-project-group-circle" id="group6-totalcomment">x</p>
                <p style="margin-left: 80px; width: 500px;" id="group6-user-name">xx, yy, zz, cc</p>
            </div>

        </div>

    </div>




</div>

End comment--->



