<h1>Teacher Dashboard</h1>

<div id="teacher-page">


    <!--<span onclick=this.parentElement.parentElement.style.display='none' class="topright" >&times</span>-->
    <span class="teacher-card-close-button" >&times</span>
    <!--</div>-->
    <div class="verticalDivider">
        <div class="row-left">
            <div class="ka-projection">
                <h4 style="margin-right:270px;">Post 1</h4>
                <p class="ka-projection-number-display-1"></p>
                <div>
                    <a href="#" class="ka_item_display_button" id="post1-question-count">  </a>
                    <a href="#" class="ka_item_display_button" id="post1-answer-count">   </a>
                </div>

            </div>
        </div>

        <div class="row-right">
            <div class="ka-projection">
                 <h4  style="margin-right:270px;">Post 2</h4>
                <p class="ka-projection-number-display-2"></p>
                <div>
                    <a href="#" class="ka_item_display_button" id="post2-question-count" >   </a>
                    <a href="#" class="ka_item_display_button" id="post2-answer-count">   </a>
                </div>

            </div>
        </div>
    </div>

    <!--TODO Code Refactor Time: Table with two rows could be an option-->
    <div class="gallery_middle" >
         <div class="gallery_projection">
            <div class="projection_glry_container">
                <p class="gallery-project-group-circle">3</p>
                <p style="margin-left: 80px; width: 500px;">xx, yy, zz, cc</p>
            </div>
            <div class="projection_glry_container">
                 <p class="gallery-project-group-circle">3</p>
                <p style="margin-left: 80px; width: 500px;">xx, yy, zz, cc</p>
            </div>
            <div class="projection_glry_container">
                <p class="gallery-project-group-circle">3</p>
                <p style="margin-left: 80px; width: 500px;">xx, yy, zz, cc</p>
            </div>
            <div class="projection_glry_container">
                <p class="gallery-project-group-circle">3</p>
               <p style="margin-left: 80px; width: 500px;">xx, yy, zz, cc</p>
            </div>
            <div class="projection_glry_container">
                <p class="gallery-project-group-circle">3</p>
                 <p style="margin-left: 80px; width: 500px;">xx, yy, zz, cc</p>
            </div>
            <div class="projection_glry_container">
                <p class="gallery-project-group-circle">3</p>
                <p style="margin-left: 80px; width: 500px;">xx, yy, zz, cc</p>
            </div>
            <div class="projection_glry_container">
                <p class="gallery-project-group-circle">3</p>
               <p style="margin-left: 80px; width: 500px;">xx, yy, zz, cc</p>
            </div>
        </div>

    </div>




</div>





