<h1>Teacher Dashboard</h1>

<!--<div id="teacher-page">-->

    <!--&lt;!&ndash;<a id="backToTchrTable" href=""></a>&ndash;&gt;-->
    <!--&lt;!&ndash;<div id = "teacher-gallery-table">&ndash;&gt;-->

       <!--&lt;!&ndash;<table >&ndash;&gt;-->
            <!--&lt;!&ndash;<tbody id="tbody"></tbody>&ndash;&gt;-->

       <!--&lt;!&ndash;</table>&ndash;&gt;-->

   <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div style="width:430px; height:250px;">&ndash;&gt;-->
         <!--&lt;!&ndash;<ul id="tchr-gallery">&ndash;&gt;-->

        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--&lt;!&ndash;<div id="teacher-user-list" >&ndash;&gt;-->


    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div id="single-user-view">&ndash;&gt;-->
        <!--&lt;!&ndash;<p>This is single user view</p>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--<div>-->

    <!--</div>-->
    <div class="ka-projection">
        <p class="ka-projection-number-display"></p>
        <div>
            <a href="#" class="button_ka_kakaka" >  3 question </a>
            <a href="#" class="button_ka_kakaka" >  0 answer </a>
        </div>

    </div>

</div>





